# Ignore Gradle project-specific cache directory
.gradle/*

# Ignore Gradle build output directory
.classpath
.project
.vscode/*
.settings/*
build/*
bin/*
*.class
lib/logs/*
lib/replays/*
lib/results/*

src/asl/experiments.asl
src/asl/agent.asl
