# Ignore Gradle project-specific cache directory
.gradle/*

# Ignore Gradle build output directory
.classpath
.project
.vscode/*
.settings/*
build/*
bin/*
*.class
lib/logs/*
lib/replays/*
lib/results/*
lib/conf/*
settings.gradle
src/asl/experiments.asl

